* {
    box-sizing: border-box;
    boryder: 2px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: body;
    animation-duration: 2s;
    
}
@keyframes body {
    from {
       opacity: .5;
    }
    to {
        opacity: 1;
    }
}
.family {
    animation-name: body;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.top {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.head {
    width: 30%;
    display: flex;
    
}
.head h1 {
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
}
.top ul {
padding: 0;
margin: 0;
width: 100%;
justify-content: center;
align-items: center;
}
.top ul li {
    float: left;
    width: 25%;
    list-style-type: none;
    text-align: center;
}
.links {
    width: 70%;
    display: flex;
    
}
.links a {
    text-decoration: none;
    color: white;
}
.top {
    background-color: lightskyblue;
}
.medium {
    width: 100%;
 
    
}
.options {
    margin-top: 10%;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.medium button {
    width: 30%;
    height: 20%;
    outline: none;
    border: none;
    background-color: lightskyblue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    
}
.medium a {
    text-decoration: none;
    
    
}
@media screen and (max-width: 700px){
    .top {
        flex-direction: column;
        height: 30vh;
        justify-content: space-between;
    }
   button {
       width: 150px;
        
        font-size: smaller;
    }
        .links {
        width: 100%;
       display: flex;
       justify-content: flex-end;
       padding-bottom: 15px;
    }
   

.options buttfon {
    padding: 0;
    
}
.options {
    flex-direction: column;
    margin-top: 15%;
    width: 100%;
}
.medium {
    
}

}
audio {
    width: 10px;
    height: 5px;
    text-align: center;
}
.family {
    width: 100%;
    border: 2px soliud violet;
    background: transparent;
    height: ;
    
}
.family p {
    text-align: center;
}
.options{
    display: ;
}
.instructions {
    width: 90%;
    margin: auto;
    background: linear-gradient(180deg, lightskyblue, lightblue);
    
}
.instructions ul {
    padding: 0;
    margin: auto;
    text-decoration: none;
      display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.instructions li {
    padding-bottom: 10px;
    margin-left: 15px;
    text-decoration: none;
    list-style-type: none;
    padding-top: 15%;
}
em {
    background: lightskyblue;
    border-radius: 5px;
    color: white;
    font-style: normal;
}
.family {
    margin: auto;
}
.title {
    text-align: center;
    font-size: 80%;
}

.questions {
    height: 100vh;
    width: 100%;
    background-color: red;
    margin-top: 10%;
}
.questions div {
    width: 100%;
    height: 20%;
    
}
.questions li {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

@media screen and (min-width: 700px){
    .instructions {
        width: 50%;
    }
     .head {
        justify-content: center;
    }
    .head h1 {
       justify-content: center;
    }

   
.questions {
    height: 100vh;
    width: 90%;
    background-color: red;
    margin: auto;
    margin-top: 5%;
    display: flex;
}
.questions div {
    width: 50%;
    height: 20%;
    margin: auto;
    
}
.questions li {
    display: flex;
    align-items: center;
    margin: auto;
    height: 10vh;
    justify-content: center;
}

    
}
.instructions {
    animation-name: instructions;
    animation-duration: 1s;
    animation-delay: 3s;
}
@keyframes instructions {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}
.title {
    width: 100%;
    margin-top: 25px;
}
.title button {
    width: 150px;
    height: 30px;
    font-size: 15px;
}
.family {
    display: none;
}
.title {
    padding-bottom: 10px;
}
.options {
    display: none;
}


@keyframes and {
    from {
        opacity: .2;
    }
    to {
        opacity: 1;
        
    }
}
.options button {
    width: 150px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.btn {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    margin-top: 25px;
}
.options {
    display: flex;
}
a {
    border: none;
}
.links  li:hover {
    background: steelblue;
    border-radius: 10px;
}
.medium a {
    color: white;
}
.bottom {
    display: flex;
    flex-wrap: wrap;
    marfgin-top: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

.bottom div {
    width: 33%;
    height: 50%;
    
    
}
.bottom h2 {
    color: lightskyblue;
    margin: 0;
    text-align: center;
    font-size: 100%;
}
.bottom li {
    text-decoration: none;
    list-style: none;
    width: 100%;
    height: 5vh;
    font-size: 75%;
    color: white;
   text-align: center;
   justify-content: center;
   margin-top: 5%;
}
.bottom ul {
    padding: 0;
    margin: 0;
}
.bottom a {
    text-decoration: none;
    display: block;
    color: lightskyblue;
}
.last {
    display: flex;
    width: 100%;
    font-size: 100%;
    flex-wrap: wrap;
    bottom: 0;
    margin: auto;
    
    
}
footer {
    margin-top: 100%;
}
a {
    display: block;
}
.guess {
    width: 90%;
    background: transparent;
    
    display: flex;
    flex-direction: column;
   text-align: center;
   margin: auto;
   margin-top: 50px;
   height:vh;
       justify-content: space-between;
       
 l
}
.guess img {
    max-width: 200px;
    
    margin: auto;
    display: flex;
    height: auto;

}
.guess .img {
    height: auto;
    background: white;
}
.guess .name{
   
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.img {
    display: flex;
}
.guess h1 {
    font-size: 90%;
    color: steelblue;
}
.guess p {
    width: 100%;
    color: white;
    font-size: large;
}
.name {
    background: lightskyblue;
}
.other {
    padding-top: 15px;
    text-align: center;
}
.other button {
    width: 150px;
    background: lightskyblue;
    border: none;
    border-radius: 5px;
    height: 30px;
    color: white;
}
.guess {
  border: 2px solid lightskyblue;
    border-radius: 5px;
    
}
@keyframes guess {
    from {
        
        width: 50%;
    }
    to {
       margin: auto;
    }
}
.guess img {
    animation-name: guess;
    animation-duration: 2s;
    transition-property: height;
    transition-duration: 2s;
}
footer {
    color: ;
}
.one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.one p {
    font-size: 25px;
   width: 30%;
   text-align: center;
   background: lightgreen;
   border-radius: 5px;
   color: floralwhite;
}
.one input {
    width: 20%;
    height: 50px;
    outline: none;
    text-align: center;
    background: ;
    border: 2px solid lightskyblue;
    border-radius: 5px;
    font-size: 25px;
    color: white;
    background-color: lightskyblue;
}
input:focus {
    background: lightskyblue;
    color: white;
    
}
.math {
    width: 100%;
    padding-bottom: 10%;
}
@media screen and (min-width: 700px){
    .math {
        width: 50%;
        margin: auto;
    }
}
.one button {
    width: 150px;
    height: 30px;
    border: none;
    background: lightskyblue;
    color: white;
    border-radius: 5px;
}
.last {
    margin-top: 15px;
}
.correct {
    display: ;
    flex-direction: column;
    margin-top: 10%;
    text-align: left;
    font-size: 15px;
    animation-name: correct;
    animation-duration: .5s;
    
    display: none;
    
}
@keyframes correct {
    from {
        margin-left: 50%;
        opacity: 0;
        margin-top: 1px;
    }
    to {
        opacity: 1;
    }
}
#p {
    text-align: left;
    font-weight: light;
    background: lightgreen;
    color: white;
    border-radius: 5px;
}
.correct {
    background: lightgreen;
    color: white;
    border-radius: 5px;
}